body{
    background:linear-gradient(to right,rgba(250,158,44,.8),rgba(143,88,251,.8));
    background-size:cover;
    background-position:center;
}
.login-box{
    max-width:700px;
    float:none;
    margin:150px auto;
}
.login-left{
    background:rgba(211,211,211,0.5);
    padding:30px;
}
.login-right{
    background:#fff;
    padding: 30px;
}
.form-control{
    background-color:transparent !important;
}
a{
    color:#fff !important;
    margin-top:-200px !important;
}
h1{
    color:#fff !important;
    margin-top:200px !important;
    text-align:center;
    text-transform:uppercase;
}